body {
    font-family: 'Laila', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
  }
  
  .container {
    text-align: center;
    padding: 40px;
  }
  
  h1 {
    font-size: 35px;
    margin-bottom: 50px;
  }
  
  .box {
    border: 1px solid #000;
    padding: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .box-title {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    text-align: left;
  }
  
  .box-text {
    margin: 10px 0;
    color: #888;
    text-align: left;
  }
  
  .line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .password-box {
    border: 3px dashed #000;
    padding: 20px;
    font-weight: bold;
    
  }
  
  .password-text {
    margin: 0;
    font-size: 16px;
  }
  
  .generate-button {
    background-color: navy;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
